# Lab 4 - Operacje na kolekcjach

## Wyrażenia Lambda

Podstawowa składnia:
`(parameter1, parameter2) -> { code block }`, aby zapisać wyrażenie w zmiennej musimy skorzystać z **interfejsu funkcyjnego** (interfejsy dokładniej zostaną omówione na kolejnych zajęciach)

In [5]:
public interface Sqr {
    int sqr( int x );
}

Sqr square = number -> { return number * number;};
int num = square.sqr(3);
System.out.println(num);

9

In [15]:
public interface Function {
    String fun( int x );
}

Function function = input -> {
    int m = input * 100;
    return String.valueOf(m);
};

System.out.println(function.fun(2) + " cm");

200 cm

In [30]:
List<Integer> lst = List.of(1, 2, 3);
lst.forEach(System.out::println);

1
2
3

## Metody transformacji

### `foreach`, `removeIf`

- `foreach` - `Type.forEach(action: (Type) -> void)` - wykonuje zdefiniowaną akcję na każdym elemencie, nie zwraca wartości
- `removeIf` - usuwa wszystkie elementy spełniające warunek

In [56]:
ArrayList<Integer> array = new ArrayList<Integer>(
    Arrays.asList(1, 2, 3, 4, 5, 6));
array.forEach( item -> {System.out.println(item * 4); });

4
8
12
16
20
24

In [60]:
ArrayList<Integer> array = new ArrayList<Integer>(
    Arrays.asList(1, 2, 3, 4, 5, 6));
//array.forEach({ System.out.println(it * 4); }; // w javie nie ma domyślnego argumentu

In [67]:
array.removeIf (it -> (it % 2 == 0));
System.out.println(array);

[1, 3, 5]

In [72]:
array.forEach (  it -> {
    Integer a = it * 100;
    System.out.println(a);
}
);

100
300
500

### `map`

- `map` - wykonuje zdefiniowaną akcję na każdym elemencie

In [80]:
import java.util.stream.Collectors;

ArrayList<Integer> array = new ArrayList<Integer>(
    Arrays.asList(1, 2, 3));
System.out.println(array.stream().map ( it -> it * it ).collect(Collectors.toList()));
System.out.println(array) // nie modyfikuje

[1, 4, 9]
[1, 2, 3]

### `filter`

- zwraca strumień zawierający tylko elementy pasujące do podanego predykatu (funkcje lambda, które pobierają element kolekcji i zwracają wartość logiczną).

In [82]:
ArrayList<String> names = new ArrayList<String>(
    Arrays.asList("Rafał", "Robert", "Ania", "Paweł", 
                   "Roman", "Radek", "Renata"));
System.out.println(
    names
        .stream()
        .filter ( it -> it.length() > 5 )
        .collect(Collectors.toList()));

[Robert, Renata]

In [85]:
import java.util.function.*;

System.out.println(
    names
        .stream()
        .filter ( it -> it.length() > 5 )
        .collect(Collectors.toList())
);

System.out.println(
    names
        .stream()
        .filter (Predicate.not( it -> it.length() > 5) )
        .collect(Collectors.toList())
);

System.out.println(names);

[Robert, Renata]
[Rafał, Ania, Paweł, Roman, Radek]
[Rafał, Robert, Ania, Paweł, Roman, Radek, Renata]

In [89]:
ArrayList<Object> objects = new ArrayList<Object>(
    Arrays.asList(null, 1, "two", 3.0, "four"));

objects
    .stream()
    .filter(o -> o instanceof String)
    .map(o -> (String) o)
    .forEach(o -> System.out.println(o.toUpperCase()));

TWO
FOUR

In [90]:
objects
    .stream()
    .filter(String.class::isInstance)
    .map(String.class::cast)
    .forEach(o -> System.out.println(o.toUpperCase()));

TWO
FOUR

In [91]:
objects
    .stream()
    .filter(Objects::nonNull)
    .forEach(o -> System.out.println(o.toString()));

1
two
3.0
four

In [92]:
objects
    .stream()
    .filter(Objects::nonNull)
    .filter(String.class::isInstance)
    .map(String.class::cast)
    .forEach(o -> System.out.println(o.length()));

3
4

### `partition` - brak w bibliotekach javy

### `groupingBy`

- Grupuje elementy oryginalnej tablicy według klucza zwróconego przez daną funkcję `keySelector` zastosowaną do każdego elementu i zwraca mapę, w której każdy klucz grupy jest skojarzony z listą odpowiednich elementów. Zwrócona mapa zachowuje kolejność iteracji wpisów kluczy utworzonych z oryginalnej tablicy.

In [95]:
ArrayList<String> numbers = new ArrayList<String>(
    Arrays.asList("one", "two", "three", "four", "five"));

System.out.println(numbers
    .stream()
    .collect(Collectors.groupingBy(s -> s.charAt(0)))
);

{t=[two, three], f=[four, five], o=[one]}

### `reduce`
- `reduce` - Kumuluje wartość zaczynając od pierwszego elementu, stosując operację od lewej do prawej, do bieżącej wartości kumulowanej i każdego elementu.

In [105]:
ArrayList<Integer> numbers = new ArrayList<Integer>(
    Arrays.asList(5, 2, 10, 4));

Integer simpleSum = numbers.stream().reduce(0, (subtotal, element) -> subtotal + element);
System.out.println(simpleSum);

21

In [108]:
ArrayList<Integer> numbers = new ArrayList<Integer>(
    Arrays.asList(5, 2, 10, 4));

Integer simpleSum = numbers.stream().reduce(0, (subtotal, element) -> subtotal + (element * 2));
System.out.println(simpleSum);

42

### `flatten`

- Zwraca pojedynczą listę wszystkich elementów ze wszystkich tablic w danej tablicy

In [135]:
Integer[][] array = new Integer[][]{{1}, {2, 3}, {4, 5, 6}};

Stream.of(array)  
    .flatMap(Stream::of)              
    .collect(Collectors.toList())
    .forEach(System.out::println);

1
2
3
4
5
6

# Lista 3

## Zad 1 - **1 pkt**

Napisz funcję lambda przyjmującą dwa argumenty `s: String` i `i: Int` i zwracającą `String` zawierający `i` kopii `s`

```verbatim
input:
>> (a, 3)

output: 
>> aaa
```

## Zad 2 - **1 pkt**

Napisz funkcję `suma(a: List<Int>): Int` zwracającą sumę wszystkich dodatnich liczb w liście (wykorzystaj funkcje `map`, `filter`, `reduce` ...)

```verbatim
input:
>> suma(listOf( 1, -4, 12, 0, -3, 29, -150))

output: 
>> 42
```

## Zad 3 - **1 pkt**

Napisz funkcję `countElements` przyjmującą listę `String` i zwracającą mapę zawierającą liczbę wystąpień każdego elemetu. Funkcja powinna działać z zagnieżdżonymi listami.

```verbatim
input:  
  countElements(listOf(listOf("a", "b", "c"), listOf("c", "d", "f"), listOf("d", "f", "g")))

output:   
  { a: 1, b: 1, c: 2, d: 2, f: 2, g: 1 }
```

## Zad 4 - **1 pkt**

Napisz funkcję `evenPositiveSquare` przyjmującą listę liczb `int` i zwracającą listę wszystkich dodatnich liczb o indeksach nieparzystych podniesionych do kwadratu.

```verbatim
input:
    evenPositiveSquare(listOf(1, 2, 3, 5, -6, -1, -1, 2, 3))

output:
    [4, 25, 4]
```

## Zad 5 - **2 pkt**

Napisz funkcję `srt` przyjmującą listę `String`. Funkcja zwraca posortowaną względem pierwszej litery listę pogupowanych list, zawierających tylko `String` o parzystej długości.

```verbatim
input:
    srt(listOf(
        "cherry", 
        "blueberry", 
        "citrus", 
        "apple", 
        "apricot", 
        "banana", 
        "coconut")
    )

output:
    [ [a, []], [ b, [banana] ], [ c, [cherry, citrus] ] ]
```

## Zad 6 - **2 pkt**

Napisz funkcję `perm` przyjmującą `List<Int>` zwracającą listę list wszystkich możliwych permutacji

```verbatim
input
    perm(listOf(1, 2, 3))

output
    [[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]
```

## Zad 7 - **2 pkt**
Napisz funkcję `check` zwracającą liczbę `Int`. Funkcja przyjmuje długość preambuły w formie `N: Int` oraz listę `List: List<Int>`.
- Preambuła zawiera unikalne liczby
- Lista zawiera tylko liczby dodatnie
- Każda liczba musi być sumą dwóch różnych liczb z preambuły
- Jeżeli waruunek jest spełniony, przesuwamy preambułę o jeden i sprawdzamy ponownie
- Jeżeli nie znajdziemy elementu niepasującego, funkcja zwraca `-1`

Załóżmy że wywołujemy `check(3, listOf(1, 2, 3, 5, 7, 12, 30))`, poniżej wszystkie kroki:

<img src="https://fv9-3.failiem.lv/down.php?i=qw7d59zww" width="300" />

<img src="https://fv9-4.failiem.lv/down.php?i=htc9x99bs" width="300" />

Funkcja zwraca pierwszą liczbę na liście, która nie spełnia tego warunku. Zakładamy że taka istnieje.

```verbatim
input:
>> check(2, listOf(1, 2, 3, 4, 5, 6))

output:
>> 4


input:
check(5, listOf(35, 25, 15, 25, 47, 40, 62, 55, 65, 95, 102, 117, 150, 182, 127, 219, 299, 277, 309, 576))

output:
127
```

sugerowane funkcje mogące pomóc w rozwiązaniu problemu: `any()`, `firstOrNull()`, `firstNotNullOfOrNull()`, `windowed()`, `takeIf()`, `scan()`, `find()`

### Oceny

|**ocena**|**punkty**|
|:---:|:---:|
|3,0 | 6 pkt|
|3,5 | 7 pkt|
|4,0 | 8 pkt|
|4,5 | 9 pkt|
|5,0 | 10 pkt|