# Wykład 7 - Operacje na kolekcjach

## Kotlin

### Wyrażenia Lambda

Podstawowa składnia:
`val lambdaName : Type = { argumentList -> codeBody }`

In [1]:
val square = { number: Int -> number * number }
val num = square(3)
println(num)

fun squareFun(number: Int) = number * number
val num2 = squareFun(3)
println(num2)

9
9

In [13]:
val function = { input : Int ->
    val m = input * 100
    m.toString()
}

println(function(2) + " cm")
println(function(2)::class.simpleName)

200 cm
String

In [16]:
val calculateGrade = { grade : Int ->
    when(grade) {
        in 0..5 -> "niezaliczone"
        in 6..10 -> "zaliczone"
        else -> false
    }
}

println(calculateGrade(9))
println(calculateGrade(9)::class.simpleName)
println(calculateGrade(99)::class.simpleName)

zaliczone
String
Boolean

In [67]:
listOf(1, 2, 3).forEach(::println)

1
2
3

In [256]:
class MyClass{
    fun square(i: Int): Int{return i * i}
}
val myClass = MyClass()
println((myClass::square)(2))

4

## Metody transformacji

### `foreach`, `removeIf`

- `foreach` - `Type.forEach(action: (Type) -> Unit)` - wykonuje zdefiniowaną akcję na każdym elemencie, nie zwraca wartości
- `removeIf` - usuwa wszystkie elementy spełniające warunek

In [20]:
val array = arrayOf(1, 2, 3, 4, 5, 6)
array.forEach { item -> println(item * 4) }
array.forEach { println(it * 4) }
//array.forEach { it -> println(it * 4) }

4
8
12
16
20
24
4
8
12
16
20
24

In [1]:
val array = arrayListOf(1, 2, 3, 4, 5, 6)
array.forEach { println(it * 4) }

4
8
12
16
20
24

In [2]:
array.removeIf {(it % 2 == 0)}
println(array)

[1, 3, 5]

In [5]:
array.forEach { 
    val a = it * 100
    println(a) 
}

100
300
500

### `forEach`, `forEachIndexed`, `map`

- `forEachIndexed` - `ByteArray.forEachIndexed(action: (index: Int, Byte) -> Unit)` - wykonuje zdefiniowaną akcję na każdym elemencie, zapewnia dostęp do indeksu (sekwencyjny)

- `map` - wykonuje zdefiniowaną akcję na każdym elemencie, rezultat zwraca w liście

In [16]:
val names = listOf("Rafał", "Robert", "Ania", "Paweł", 
                   "Roman", "Radek", "Renata")

names.forEachIndexed({i, v -> println("names[$i] = $v")})

names[0] = Rafał
names[1] = Robert
names[2] = Ania
names[3] = Paweł
names[4] = Roman
names[5] = Radek
names[6] = Renata

In [19]:
names.forEach {print("$it ")}

Rafał Robert Ania Paweł Roman Radek Renata

In [7]:
val numbers = listOf(1, 2, 3)
println(numbers.map { it * it })
println(numbers.forEach { it * it })

[1, 4, 9]
kotlin.Unit

In [8]:
val m = numbers.map { it * it }
val f = numbers.forEach { it * it }
println(m)
println(f)
println(numbers)

[1, 4, 9]
kotlin.Unit
[1, 2, 3]

### `filter`

- zwraca listę zawierającą tylko elementy pasujące do podanego predykatu (funkcje lambda, które pobierają element kolekcji i zwracają wartość logiczną).

In [10]:
val names = listOf("Rafał", "Robert", "Ania", "Paweł", 
                   "Roman", "Radek", "Renata")
println(names.filter { it.length > 5 })

[Robert, Renata]

In [11]:
println(names.filterIndexed { i, v -> (i != 0) && (v.length < 6)  })

[Ania, Paweł, Roman, Radek]

In [12]:
println(names.filter { it.length > 5 })
println(names.filterNot { it.length > 5 })
println(names)

[Robert, Renata]
[Rafał, Ania, Paweł, Roman, Radek]
[Rafał, Robert, Ania, Paweł, Roman, Radek, Renata]

In [36]:
val numbers = listOf(null, 1, "two", 3.0, "four")
numbers
    .filterIsInstance<String>()
    .forEach {
    println(it.uppercase())
}

TWO
FOUR

In [37]:
numbers.filterNotNull().forEach {
    print("$it ")
}

1 two 3.0 four

In [39]:
numbers.filterNotNull().filterIsInstance<String>().forEach {
    println(it.length)
}

3
4

### `partition`

- dzieli oryginalną kolekcję na parę list, gdzie pierwsza lista zawiera elementy, dla których predykat jest spełniony, druga lista zawiera pozostałe elementy

In [ ]:
val numbers = listOf("one", "two", "three", "four")
val (match, rest) = numbers.partition { it.length > 3 }

println(match)
println(rest)

[three, four]
[one, two]

In [43]:
println(numbers.any { it.endsWith("e") })

true

### `groupBy`

- Grupuje elementy oryginalnej tablicy według klucza zwróconego przez daną funkcję `keySelector` zastosowaną do każdego elementu i zwraca mapę, w której każdy klucz grupy jest skojarzony z listą odpowiednich elementów. Zwrócona mapa zachowuje kolejność iteracji wpisów kluczy utworzonych z oryginalnej tablicy.

In [44]:
val numbers = listOf("one", "two", "three", "four", "five")

println(numbers.groupBy { it.first() })

{o=[one], t=[two, three], f=[four, five]}

In [45]:
println(numbers.groupBy(
    keySelector = { it.first().uppercase() }, 
    valueTransform = { it.uppercase() }))

{O=[ONE], T=[TWO, THREE], F=[FOUR, FIVE]}

In [56]:
val numbers = listOf("one", "two", "three", "four", "five", "six")
println(numbers.groupingBy { it.first() }.eachCount())

{o=1, t=2, f=2, s=1}

### `take`, `slice`, `drop`

- `take` - zwraca listę pierwszych `n` elementów
- `slice` - zwraca listę elementów kolekcji z podanymi indeksami. Indeksy mogą być przekazywane jako zakres lub zbiór wartości całkowitych
- `drop` - zwraca listę zawierające wszystkie elementy oprócz pierwszych `n` elemntów

In [46]:
val numbers = listOf("one", "two", "three", "four", "five", "six")
println(numbers.slice(1..3))
println(numbers.slice(0..4 step 2))
println(numbers.slice(setOf(3, 5, 0)))

[two, three, four]
[one, three, five]
[four, six, one]

In [58]:
println(numbers.take(3))
println(numbers.takeLast(3))
println(numbers.drop(1))
println(numbers.dropLast(5))

[one, two, three]
[four, five, six]
[two, three, four, five, six]
[one]

In [48]:
println(numbers.takeWhile { !it.startsWith('t') })
println(numbers.takeLastWhile { it != "three" })

[one]
[four, five, six]

### `chunked`, `windowed`

- `chunked` - Dzieli tę kolekcję na listę list, z których każda nie przekracza podanego rozmiaru. Ostatnia lista na liście wynikowej może mieć mniej elementów niż podany rozmiar.
- `windowed` - Zwraca listę list o danym rozmiarze przesuwaną wzdłuż tej kolekcji z podanym krokiem. Kilka ostatnich list może mieć mniej elementów niż podany rozmiar. Zarówno rozmiar, jak i krok muszą być dodatnie i mogą być większe niż liczba elementów w tej kolekcji.

In [61]:
val numbers = (0..13).toList()
println(numbers.chunked(3))

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11], [12, 13]]

In [62]:
val numbers = (0..13).toList() 
println(numbers.chunked(3) { it.sum() })

[3, 12, 21, 30, 25]

In [63]:
val numbers = listOf("one", "two", "three", "four", "five")    
println(numbers.windowed(3))

[[one, two, three], [two, three, four], [three, four, five]]

In [260]:
val numbers = (1..10).toList()
println(numbers.windowed(3, step = 2, partialWindows = true))
println(numbers.windowed(3) { it.sum() })

[[1, 2, 3], [3, 4, 5], [5, 6, 7], [7, 8, 9], [9, 10]]
[6, 9, 12, 15, 18, 21, 24, 27]

### `zip`, `first`, `last`, `find`

- `zip` - Zwraca listę par zbudowanych z elementów tej tablicy i drugiej tablicy o tym samym indeksie. Zwracana lista ma długość najkrótszego zbioru.
- `first` - zwraca pierwszy element spełniający warunek
- `last` - zwraca ostatni element spełniający warunek
- `find` - Zwraca pierwszy element pasujący do podanego predykatu lub null, jeśli nie znaleziono takiego elementu.

In [68]:
val numbers = listOf("one", "two", "three", "four", "five")    
println(numbers.zipWithNext()) // Tworzy obiekty Pair
println(numbers.zipWithNext() { s1, s2 -> s1.length > s2.length})

[(one, two), (two, three), (three, four), (four, five)]
[false, false, true, false]

In [74]:
val numbers = listOf("one", "two", "three", "four", "five", "six")
println(numbers.first { it.length > 3 })
println(numbers.last { it.startsWith("f") })

three
five

In [70]:
val numbers = listOf("one", "two", "three", "four", "five", "six")
println(numbers.firstOrNull { it.length > 6 })

null

In [50]:
val numbers = listOf(1, 2, 3, 4)
println(numbers.find { it % 2 == 0 })
println(numbers.findLast { it % 2 == 0 })

2
4

In [76]:
val list = listOf<Any>(0, "true", false)
val longEnough = list.firstNotNullOf { item -> item.toString().takeIf { it.length >= 4 } } // pierwsza wartość która nie jest null
println(longEnough)

true

In [13]:
val list = listOf<Any>(0, "true", false)
val longEnough = list
    .firstNotNullOfOrNull { item -> item.toString()
    .takeIf { it.length >= 2 } }
println(longEnough)

true

### `compare`

In [58]:
println(listOf("aaa", "bb", "c").sortedWith(compareBy { it.length }))

[c, bb, aaa]

In [80]:
val numbers = listOf(6, 42, 10, 4)

println("Count: ${numbers.count()}")
println("Max: ${numbers.maxOrNull()}")
println("Min: ${numbers.minOrNull()}")
println("Average: ${numbers.average()}")
println("Sum: ${numbers.sum()}")

Count: 4
Max: 42
Min: 4
Average: 15.5
Sum: 62

In [81]:
val strings = listOf("one", "two", "three", "four")
val longestString = strings.maxWithOrNull(compareBy { it.length })
println(longestString)

three

In [59]:
val numbers = listOf(5, 42, 10, 4)
println(numbers.sumOf { it * 2 })
println(numbers.sumOf { it.toDouble() / 2 })

122
30.5

### `fold`, `reduce`

- `fold` - Kumuluje wartość zaczynając od wartości początkowej, stosując operację od lewej do prawej, do bieżącej wartości kumulowanej i każdego elementu. Zwraca wartość początkową, jeśli tablica jest pusta.
- `reduce` - Kumuluje wartość zaczynając od pierwszego elementu, stosując operację od lewej do prawej, do bieżącej wartości kumulowanej i każdego elementu.

In [17]:
val numbers = listOf(5, 2, 10, 4)

val simpleSum = numbers.reduce { sum, element -> sum + element }
println(simpleSum)

21

In [93]:
val strings = listOf("a", "b", "c", "d")
println(strings.reduce { acc, string -> acc + string })
println(strings.reduceIndexed { index, acc, string -> acc + string + index })

abcd
ab1c2d3

In [31]:
val numbers = listOf(1, 1, 1, 1)

val simpleSum = numbers.fold(0) { sum, element -> sum + element }
println(simpleSum)

4

In [28]:
val simpleSum = numbers.reduce { sum, element -> sum + element }
println(simpleSum)

4

In [38]:
val numbers = listOf(1, 1, 1, 1)

val simpleSum = numbers.fold(0) { sum, element -> sum + (element * 2) }
println(simpleSum)

8

In [39]:
val simpleSum = numbers.reduce { sum, element -> sum + (element * 2) }
println(simpleSum)

7

In [97]:
val strings = listOf("a", "b", "c", "d")
println(strings.fold("") { acc, string -> acc + string })
println(strings.foldIndexed("") { index, acc, string -> acc + string + index })

abcd
a0b1c2d3

In [40]:
val numbers = listOf(5, 2, 10, 4)
val sumEven = numbers.foldIndexed(0) { idx, sum, element -> if (idx % 2 == 0) sum + element else sum }
println(sumEven)

val sumEvenRight = numbers.foldRightIndexed(0) { idx, element, sum -> if (idx % 2 == 0) sum + element else sum }
println(sumEvenRight)

15
15

In [41]:
val numbers = listOf(5, 2, 10, 4)
val sumEven = numbers.reduceIndexed { idx, sum, element -> if (idx % 2 == 0) sum + element else sum }
println(sumEven)

val sumEvenRight = numbers.reduceRightIndexed { idx, element, sum -> if (idx % 2 == 0) sum + element else sum }
println(sumEvenRight)

15
19

In [42]:
val numbers = listOf(0, 1, 2, 3, 4, 5)
val runningReduceSum = numbers.runningReduce { sum, item -> sum + item }
val runningFoldSum = numbers.runningFold(0) { sum, item -> sum + item }

println(runningReduceSum)
println(runningFoldSum)

[0, 1, 3, 6, 10, 15]
[0, 0, 1, 3, 6, 10, 15]

### `flatten`

- Zwraca pojedynczą listę wszystkich elementów ze wszystkich tablic w danej tablicy

In [228]:
val deepArray = arrayOf(
    arrayOf(1),
    arrayOf(2, 3),
    arrayOf(4, 5, 6)
)

println(deepArray.contentDeepToString())
println(deepArray.flatten()) // [1, 2, 3, 4, 5, 6]

[[1], [2, 3], [4, 5, 6]]
[1, 2, 3, 4, 5, 6]

In [229]:
val deepList = listOf(listOf(1), listOf(2, 3), listOf(4, 5, 6))
println(deepList.flatten()) // [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [60]:
val deepMap = mapOf("a" to listOf(1,2),"b" to listOf(3,4))
println(deepMap)
deepMap.flatMap { (string, ints) -> listOf(string).plus(ints) }

{a=[1, 2], b=[3, 4]}

[a, 1, 2, b, 3, 4]

In [236]:
deepMap.flatMap { (string, int) -> listOf(string, int) }

[a, [1, 2], b, [3, 4]]

In [243]:
val pairs = listOf("a" to 1, "a" to 2, "b" to 3, "b" to 4)
println(pairs)
println(pairs.get(0))
println(pairs.get(0)::class.simpleName)
val result = pairs
        .groupBy { it.first }
        .flatMap { (key, values) -> listOf(key).plus(values.map { it.second }) }
println(result)
println(result::class.simpleName)

[(a, 1), (a, 2), (b, 3), (b, 4)]
(a, 1)
Pair
[a, 1, 2, b, 3, 4]
ArrayList

## Metody list

In [184]:
val numbers = listOf(1, 2, 3, 4)
println(numbers.get(0))
println(numbers[0])
println(numbers.getOrNull(5))
println(numbers.getOrElse(5, {it}))
println(numbers::class.simpleName)

1
1
null
5
ArrayList

In [141]:
val numbers = (0..13).toList()
println(numbers.subList(3, 6))

[3, 4, 5]

In [142]:
val numbers = listOf(1, 2, 3, 4, 2, 5)
println(numbers.indexOf(2))
println(numbers.lastIndexOf(2))

1
4

In [143]:
val numbers = mutableListOf(1, 2, 3, 4)
println(numbers.indexOfFirst { it > 2})
println(numbers.indexOfLast { it % 2 == 1})

2
2

In [151]:
val numbers = mutableListOf("one", "two", "three", "four")
numbers.sort()
println(numbers)
println(numbers.binarySearch("two"))  // 3
println(numbers.binarySearch("z")) // -5 - zwraca ujemny wartość spodziewanego indeksu - 1
println(numbers.binarySearch("two", 0, 2))  // -3

[four, one, three, two]
3
-5
-3

In [149]:
data class Product(val name: String, val price: Float)

val productList = listOf(
    Product("WebStorm", 49.0f),
    Product("AppCode", 99.0f),
    Product("DotTrace", 129.0f),
    Product("ReSharper", 149.0f))

println(productList.binarySearch(Product("AppCode", 99.0f), compareBy<Product> { it.price }.thenBy { it.name }))

1

In [166]:
fun priceComparison(product: Product, price: Float) = sign(product.price - price).toInt()


val productList = listOf(
        Product("WebStorm", 49.0f),
        Product("AppCode", 99.0f),
        Product("DotTrace", 129.0f),
        Product("ReSharper", 149.0f))

println(productList.binarySearch { priceComparison(it, 99.0f) })

1

In [168]:
val numbers = mutableListOf("one", "two", "three", "four")

numbers.sort()
numbers.sortDescending()

numbers.sortBy { it.length }
println(numbers)
numbers.sortByDescending { it.last() }
println(numbers)

numbers.sortWith(compareBy<String> { it.length }.thenBy { it })
println(numbers)

[two, one, four, three]
[four, two, one, three]
[one, two, four, three]

## Metody zbiorów

In [183]:
val numbers = setOf("one", "two", "three")

println(numbers union setOf("four", "five"))
println(setOf("four", "five") union numbers)
println(numbers::class.simpleName)

[one, two, three, four, five]
[four, five, one, two, three]
LinkedHashSet

In [176]:
println(numbers intersect setOf("two", "one", "four"))

[one, two]

In [177]:
println(numbers subtract setOf("three", "four", "five"))
println(setOf("three", "four", "five") subtract numbers)

[one, two]
[four, five]

In [178]:
val list1 = listOf(1, 1, 2 ,3, 5, 8, -1)
val list2 = listOf(1, 1, 2, 2 ,3, 5)
println(list1 intersect list2) // result on two lists is a Set
println(list1 union list2)     // equal elements are merged into one

[1, 2, 3, 5]
[1, 2, 3, 5, 8, -1]

In [179]:
val inter = list1 intersect list2
println(inter::class.simpleName)

LinkedHashSet

In [180]:
val u = list1 union list2
println(inter::class.simpleName)

LinkedHashSet

In [182]:
val s = numbers subtract setOf("three", "four", "five")
println(s::class.simpleName)
println(numbers::class.simpleName)

LinkedHashSet
LinkedHashSet

## Metody map

In [199]:
val numbersMap = mapOf("one" to 1, "two" to 2, "three" to 3)
println(numbersMap.get("one"))
println(numbersMap["one"])
println(numbersMap.getOrDefault("four", 10))
println(numbersMap["five"])   
//numbersMap.getValue("six") 
println(numbersMap::class.simpleName)

1
1
10
null
LinkedHashMap

In [188]:
val numbersMap = mapOf("one" to 1, "two" to 2, "three" to 3)
println(numbersMap.keys)
println(numbersMap.values)

[one, two, three]
[1, 2, 3]

In [189]:
val numbersMap = mapOf("key1" to 1, "key2" to 2, "key3" to 3, "key11" to 11)
val filteredMap = numbersMap.filter { (key, value) -> key.endsWith("1") && value > 10}
println(filteredMap)

{key11=11}

In [190]:
val numbersMap = mapOf("key1" to 1, "key2" to 2, "key3" to 3, "key11" to 11)
val filteredKeysMap = numbersMap.filterKeys { it.endsWith("1") }
val filteredValuesMap = numbersMap.filterValues { it < 10 }

println(filteredKeysMap)
println(filteredValuesMap)

{key1=1, key11=11}
{key1=1, key2=2, key3=3}

In [195]:
val numbersMap = mapOf("one" to 1, "two" to 2, "three" to 3)
println(numbersMap + Pair("four", 4))
println(numbersMap + Pair("one", 10))
println(numbersMap + mapOf("five" to 5, "one" to 11))
println(numbersMap)

{one=1, two=2, three=3, four=4}
{one=10, two=2, three=3}
{one=11, two=2, three=3, five=5}
{one=1, two=2, three=3}

In [192]:
val numbersMap = mapOf("one" to 1, "two" to 2, "three" to 3)
println(numbersMap - "one")
println(numbersMap - listOf("two", "four"))

{two=2, three=3}
{one=1, three=3}

In [193]:
val numbersMap = mutableMapOf("one" to 1, "two" to 2)
numbersMap.put("three", 3)
println(numbersMap)

{one=1, two=2, three=3}

In [194]:
val numbersMap = mutableMapOf("one" to 1, "two" to 2)
val previousValue = numbersMap.put("one", 11)
println("value associated with 'one', before: $previousValue, after: ${numbersMap["one"]}")
println(numbersMap)

value associated with 'one', before: 1, after: 11
{one=11, two=2}

In [196]:
val numbersMap = mutableMapOf("one" to 1, "two" to 2)
numbersMap["three"] = 3     // calls numbersMap.put("three", 3)
numbersMap += mapOf("four" to 4, "five" to 5)
println(numbersMap)

{one=1, two=2, three=3, four=4, five=5}

In [197]:
val numbersMap = mutableMapOf("one" to 1, "two" to 2, "three" to 3)
numbersMap.remove("one")
println(numbersMap)
numbersMap.remove("three", 4)            //doesn't remove anything
println(numbersMap)

{two=2, three=3}
{two=2, three=3}

In [198]:
val numbersMap = mutableMapOf("one" to 1, "two" to 2, "three" to 3, "threeAgain" to 3)
numbersMap.keys.remove("one")
println(numbersMap)
numbersMap.values.remove(3)
println(numbersMap)

{two=2, three=3, threeAgain=3}
{two=2, threeAgain=3}

In [200]:
 numbersMap.forEach { (key, value) -> println("$key = $value") }

one = 1
two = 2
three = 3

In [203]:
println(numbersMap.filter { it.key == "one" && it.value == 1 })

{one=1}

In [220]:
 val l = numbersMap.map { (key, value) -> value + 10}
 println(l)
 println(l::class.simpleName)
 println(l[0])

[11, 12, 13]
ArrayList
11

In [208]:
val m = mapOf("one" to 1, "two" to 2, "three" to 3, "threeAgain" to 3)
val itr = m.keys.iterator()
while (itr.hasNext()) {
    val key = itr.next()
    val value = m[key]
    println("${key}=$value")
}

one=1
two=2
three=3
threeAgain=3

## Java

## Wyrażenia Lambda

Podstawowa składnia:
`(parameter1, parameter2) -> { code block }`, aby zapisać wyrażenie w zmiennej musimy skorzystać z **interfejsu funkcyjnego** (interfejsy dokładniej zostaną omówione na kolejnych zajęciach)

In [5]:
public interface Sqr {
    int sqr( int x );
}

Sqr square = number -> { return number * number;};
int num = square.sqr(3);
System.out.println(num);

9

In [15]:
public interface Function {
    String fun( int x );
}

Function function = input -> {
    int m = input * 100;
    return String.valueOf(m);
};

System.out.println(function.fun(2) + " cm");

200 cm

In [30]:
List<Integer> lst = List.of(1, 2, 3);
lst.forEach(System.out::println);

1
2
3

## Metody transformacji

### `foreach`, `removeIf`

- `foreach` - `Type.forEach(action: (Type) -> void)` - wykonuje zdefiniowaną akcję na każdym elemencie, nie zwraca wartości
- `removeIf` - usuwa wszystkie elementy spełniające warunek

In [56]:
ArrayList<Integer> array = new ArrayList<Integer>(
    Arrays.asList(1, 2, 3, 4, 5, 6));
array.forEach( item -> {System.out.println(item * 4); });

4
8
12
16
20
24

In [60]:
ArrayList<Integer> array = new ArrayList<Integer>(
    Arrays.asList(1, 2, 3, 4, 5, 6));
//array.forEach({ System.out.println(it * 4); }; // w javie nie ma domyślnego argumentu

In [67]:
array.removeIf (it -> (it % 2 == 0));
System.out.println(array);

[1, 3, 5]

In [72]:
array.forEach (  it -> {
    Integer a = it * 100;
    System.out.println(a);
}
);

100
300
500

### `map`

- `map` - wykonuje zdefiniowaną akcję na każdym elemencie

In [80]:
import java.util.stream.Collectors;

ArrayList<Integer> array = new ArrayList<Integer>(
    Arrays.asList(1, 2, 3));
System.out.println(array.stream().map ( it -> it * it ).collect(Collectors.toList()));
System.out.println(array) // nie modyfikuje

[1, 4, 9]
[1, 2, 3]

### `filter`

- zwraca strumień zawierający tylko elementy pasujące do podanego predykatu (funkcje lambda, które pobierają element kolekcji i zwracają wartość logiczną).

In [82]:
ArrayList<String> names = new ArrayList<String>(
    Arrays.asList("Rafał", "Robert", "Ania", "Paweł", 
                   "Roman", "Radek", "Renata"));
System.out.println(
    names
        .stream()
        .filter ( it -> it.length() > 5 )
        .collect(Collectors.toList()));

[Robert, Renata]

In [85]:
import java.util.function.*;

System.out.println(
    names
        .stream()
        .filter ( it -> it.length() > 5 )
        .collect(Collectors.toList())
);

System.out.println(
    names
        .stream()
        .filter (Predicate.not( it -> it.length() > 5) )
        .collect(Collectors.toList())
);

System.out.println(names);

[Robert, Renata]
[Rafał, Ania, Paweł, Roman, Radek]
[Rafał, Robert, Ania, Paweł, Roman, Radek, Renata]

In [89]:
ArrayList<Object> objects = new ArrayList<Object>(
    Arrays.asList(null, 1, "two", 3.0, "four"));

objects
    .stream()
    .filter(o -> o instanceof String)
    .map(o -> (String) o)
    .forEach(o -> System.out.println(o.toUpperCase()));

TWO
FOUR

In [90]:
objects
    .stream()
    .filter(String.class::isInstance)
    .map(String.class::cast)
    .forEach(o -> System.out.println(o.toUpperCase()));

TWO
FOUR

In [91]:
objects
    .stream()
    .filter(Objects::nonNull)
    .forEach(o -> System.out.println(o.toString()));

1
two
3.0
four

In [92]:
objects
    .stream()
    .filter(Objects::nonNull)
    .filter(String.class::isInstance)
    .map(String.class::cast)
    .forEach(o -> System.out.println(o.length()));

3
4

### `partition` - brak w bibliotekach javy

### `groupingBy`

- Grupuje elementy oryginalnej tablicy według klucza zwróconego przez daną funkcję `keySelector` zastosowaną do każdego elementu i zwraca mapę, w której każdy klucz grupy jest skojarzony z listą odpowiednich elementów. Zwrócona mapa zachowuje kolejność iteracji wpisów kluczy utworzonych z oryginalnej tablicy.

In [95]:
ArrayList<String> numbers = new ArrayList<String>(
    Arrays.asList("one", "two", "three", "four", "five"));

System.out.println(numbers
    .stream()
    .collect(Collectors.groupingBy(s -> s.charAt(0)))
);

{t=[two, three], f=[four, five], o=[one]}

### `reduce`
- `reduce` - Kumuluje wartość zaczynając od pierwszego elementu, stosując operację od lewej do prawej, do bieżącej wartości kumulowanej i każdego elementu.

In [105]:
ArrayList<Integer> numbers = new ArrayList<Integer>(
    Arrays.asList(5, 2, 10, 4));

Integer simpleSum = numbers.stream().reduce(0, (subtotal, element) -> subtotal + element);
System.out.println(simpleSum);

21

In [108]:
ArrayList<Integer> numbers = new ArrayList<Integer>(
    Arrays.asList(5, 2, 10, 4));

Integer simpleSum = numbers.stream().reduce(0, (subtotal, element) -> subtotal + (element * 2));
System.out.println(simpleSum);

42

### `flatten`

- Zwraca pojedynczą listę wszystkich elementów ze wszystkich tablic w danej tablicy

In [135]:
Integer[][] array = new Integer[][]{{1}, {2, 3}, {4, 5, 6}};

Stream.of(array)  
    .flatMap(Stream::of)              
    .collect(Collectors.toList())
    .forEach(System.out::println);

1
2
3
4
5
6